[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky First Run
Name[de]=Sparky erster Start
Name[es]=Primera ejecución de Sparky
Name[fr]=Premier démarrage de Sparky
Name[id]=Peluncuran Perdana Sparky
Name[ja]=Sparky 初回起動
Name[pl]=Pierwsze Uruchomienie Sparky
Name[ru]=Первый запуск Sparky
Comment=The First Run of SparkyLinux
Comment[de]=Der erstmalige Betrieb von SparkyLinux
Comment[es]=Primera ejecución de SparkyLinux
Comment[fr]=Le Premier démarrage de SparkyLinux
Comment[id]=Menjalankan SparkyLinux pertama kali
Comment[it]=Utility per il primo avvio di SparkyLinux
Comment[ja]=SparkyLinux はじめての起動
Comment[pl]=Pierwsze Uruchomienie SparkyLinux
Comment[pt_BR]=A primeira execução do SparkyLinux
Comment[pt_PT]=A primeira execução do SparkyLinux
Comment[ru]=Первый запуск SparkyLinux
Exec=/usr/bin/sparky-firstrun
Icon=/usr/share/icons/sparky/firstrun/sparky48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility

