[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky First Run
Name[de_DE]=Sparky erster Start
Name[es_AR]=Primera ejecución de Sparky
Name[fr_FR]=Premier démarrage de Sparky
Name[ja_JP]=Sparky 初回起動
Name[pl]=Pierwsze Uruchomienie Sparky
Name[ru_RU]=Первый запуск Sparky
Comment=The First Run of SparkyLinux
Comment[de_DE]=Der erstmalige Betrieb von SparkyLinux
Comment[es_AR]=Primera ejecución de SparkyLinux
Comment[fr_FR]=Le Premier démarrage de SparkyLinux
Comment[it_IT]=Utility per il primo avvio di SparkyLinux
Comment[ja_JP]=SparkyLinux はじめての起動
Comment[pl]=Pierwsze Uruchomienie SparkyLinux
Comment[pt_BR]=A primeira execução do SparkyLinux
Comment[pt_PT]=A primeira execução do SparkyLinux
Comment[ru_RU]=Первый запуск SparkyLinux
Exec=/usr/bin/sparky-firstrun
Icon=/usr/share/icons/sparky/firstrun/sparky48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility

